/*Keyframes*/
@keyframes showHide {
    0%{
        display: none;
        opacity: 0;
    }
    100%{
        display: block;
        opacity: .65;
    }
}
@keyframes Transform {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes mouseUpTo {
    0%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes mouseUpToBefore {
    0%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(0);
    }
}