/* e-Mos general mixin controls*/

@mixin transition($transition: all .2s ease) {
	transition: #{$transition};
	-webkit-transition: #{$transition};
}

@mixin setTransform($value) {
	-webkit-transform: $value;
	-ms-transform: $value;
	transform: $value;
}
@mixin flexDirection($value) {
	-ms-flex-direction: $value;
	flex-direction: $value;
}
@mixin vAlign {
	position: relative;
	top: 50%;
	@include setTransform(translateY(-50%));
}
@mixin m-left{
    margin-left: auto;
}
@mixin m-right{
    margin-right: auto;
}
@mixin align-middle{
    display: inline-block;
    vertical-align: middle;
}
@mixin grid {
    display: -ms-grid;
    display: grid;
}
@mixin block {
    display: block;
}
@mixin flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
@mixin relative {
    position: relative;
}
@mixin absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
@mixin absoluteVertical {
    position: absolute;
    top: 50%;
    z-index: 1;
}

/*General Class Control*/
.abs-lft{
    @include absolute;
}
.abs-cntr{
    @include absoluteVertical;
    @include setTransform(translateY(-50%))
}
.absolute-center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.mb-bttm-wrp{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    &-tr{
        background: none;
    }
}
.a-btns-rght{
    position: absolute;
    bottom: -15px;
    right: 20px;
    z-index: 1;
}
.after-img{
    content:'';
    @extend .abs-lft;
    background: rgba(200, 200, 200, 0.1);
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none; 
}
.iconx, .iconx30{
    text-align: center;
    display: inline-block;
    cursor: pointer;
    &:before{
        font-family: 'icomoon';
    }
}
.iconx{
    width: 25px;
    height: 25px;
    line-height: 25px;
    &:before{
        font-size: 25px;
    }
}
.iconx30{
    width: 30px;
    height: 30px;
    line-height: 30px;
    &:before{
        font-size: 30px;
    }
}
.iconx39{
    @extend .iconx;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.iconx-after{
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}
.bdy-fix{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fixed-centered{
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
}
.position-inherit{
    position: relative;
    top: inherit;
    margin-top: 0;
    left: 0;
    right: 0;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.titlex30{
    font-family: 'semi_bold';
    font-size: $fs-30;
}
.ems-fxd-lft{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
}
.sticky{
    position: -webkit-sticky;
    position: sticky;
}
.ems-flex-between{
    display: block;
}
.flx-between{
    @include flex();
    justify-content: space-between;
}
.flx-start{
    justify-content: flex-start;
}
.db-bck{
    @include align-middle;
}
.blck{
    @include block;
}
.static{
    @include relative;
}
.iBlock{
    display: inline-block;
}
.radius-full{
    border-radius: 100%;
}
.dVisible{
    display: none;
}
.t-center{
    text-align: left;
}
.center{
    text-align: center;
}
.t-left{
    text-align: left;
}
.pdt2{
    padding-top: 2px;
}
.pdt3{
    padding-top: 3px;
}
.pdt-60{
    padding-top: 60px;
    padding-bottom: 60px;
}
.pd-20{
    padding-left: 20px;
    padding-right: 20px;
}
.pd-full-20{
    padding: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.m-r-5{
    margin-right: 5px;
}
.m-l-5{
    margin-left: 5px;
}
.mt-fx{
    @extend .mt-30;
}
.m-right{
    @include m-right;
}
.m-left{
    @include m-left;
}
.gray-bg{
    background: none;
}
.empty{
    &:empty{display: none;}
}
.drk{
    color: $black;
}
.lght{
    color: $black;
}
.hdn-ct{
    font-size: 0;
    > a{
        display: none;
        font-size: $fs-14;
        &:last-child{display: inline-block;}
    }
}
.undline{
    text-decoration: underline;
}
.l-hght-25{
    line-height: 25px;
}
.l-hght-30{
    line-height: 30px;
}
.open-video,
.open-video .iconx{
    width: 64px;
    height: 64px;
}
.open-video{
    background: $white;
    left: 0;
    right: 0;
    .iconx{
        line-height: 64px;
        &:before{
            font-size: 24px;
        }
    }
    &.is-play{
        .iconx{
            &:before,
            &:after{
                content:'';
                width:5px;
                height: 17px;
                background: #000;
                display: inline-block;
                vertical-align: middle;
            }
            &:after{
                margin-left: 5px;
            }
        }
    }
}
.z-1{
    z-index: 1;
}
.bg-ttl{
    font-size: 32px;
}
.dark-theme{
    background-color: #1c1c1c;
}
.light-thm{
    background-color: #f8f8f6;
}
.type-overflow{
    overflow: hidden;   
}