/* e-Mos media variables */

$breakpoint-small:                              640px !default;  // Phone landscape
$breakpoint-medium:                             1024px !default; // Tablet Landscape
$breakpoint-large:                              1260px !default; // Desktop
$breakpoint-xlarge:                             1440px !default; // Large Screens


/* e-Mos font-size */
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;
$fs-20: 20px;
$fs-21: 21px;
$fs-22: 22px;
$fs-25: 25px;
$fs-30: 30px;


/* e-Mos color patern */
$white: #ffffff;
$black: #000000;

$color1: #f8f8f8;
$color2: #f2f2f2;
$color3: #f6f6f6;
$color4: #d8d8d8;
$color5: #ededed;
$color6: #fafafa;
$color7: #adadad;
$color8: #f5f5f5;
$color9: #f4f4f4;
$color10:#e0e0e0;
$color11:#eeeeee;
$border: #c7c7c7;