/*Site Genaral destkop*/
.align-content{
    text-align: left;
}
/*Inline block*/
.dbl-el{
    > *{
        @include align-middle;
    }
}
/*Block Element*/
.block{
    @include block;
}
/*Relative element*/
.relative{
    @include relative;
}
.font-1{
    font-family:'semi_bold';
    font-size: 25px;
}
.font-2,
.font-4,
.font-5,
.font-6{
    font-family:'font';
}
.font-2{
    font-size: 16px;
}
.font-3{
    font-size: 12px;    
}
.font-4{
    font-size: 15px;
    font-family:'semi_bold';
}
.font-5{
    font-size: 13px;
}
.font-6{
    font-size: 14px;
}
.font-7{
    font-family: 'bold';
    font-size: 18px;
}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}
.f-sBold{
    font-family:'semi_bold';
}

/*Site Page Content*/
.ems-page{
    padding-bottom: 100px;
    &.pd-reset{
        padding-bottom: 0;
    }
}
.swiper-slide, .video-cover{
    .slide-video,
    .video-player{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .slide-video{
        pointer-events: none;
    }
}
.swiper-slide{
    .video-player,
    .mejs__inner,
    .mejs__mediaelement{
        height: 100% !important;
    }
}
video{
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.mejs__layers,
.mejs__controls,
.mejs__offscreen{
    @extend .ems-none;
}