.cover-list{
    @include grid;
    grid-template-columns:1fr minmax(auto, 10%) minmax(20px,5%);
    grid-template-areas: "IMG . .";
    .prm-media{
        img{
            grid-area: IMG;
            min-height: 100px;
        }
    }
    h1, .sp, .ttl{
        margin-top: 7%;
    }
    h1,h2{
        position: initial;
        top: initial;
        transform: none;
        padding-left: 0;
        padding-right: 0;
    }
    h1,h2,.ttl{
        font-size: 45px;
    }
    .txt{
        margin-left: 5%;
        margin-right: 5%;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        &-wht{
            transform:none;
            top: 120px;    
        }
    }
    .rttTxt{
        position: absolute;
        top: 50%;
        right: 0;
        @include setTransform(rotate(-90deg) translateY(-50%));
        width: 25px;
        white-space: nowrap;
        &:empty{display: none;}
    }
}
/*.cover-list-list{
    h1,h2{
        position: absolute;
        top: 50%;
        @include setTransform(translateY(-50%));
    }
}*/
.cat-p{
    max-height: 110px;
    overflow: hidden;
}
.cover-list-fmly{
    h1{margin-top: 0; color: $white;}
}

/*Ürün liste Sonraki Kategori*/
.urunliste_sonrakikategori:before{padding-right: 10px;}

//Seo metinleri
.category-description {
    padding-top: 0;
    padding-bottom: 50px;   
}
.seo-content{
    max-width: 780px;
}