.design-hub-detail{
    padding-bottom: 80px;
    .pdt{
        padding-top: 100px;
    }
    .marquee{
        position: absolute;
        top: 50px;
        left: 0;
        height: 85px;
        margin-top: 0;
        > div{
            height: 85px;
            font-size: 70px;
            color: #272727;
        }
        > div > div{
            float: left;
            width: 50%;
        }
    }
}
.mt-dsgn-minus{
    padding-top: 50px;
    padding-bottom: 30px;
}
.design-hub-inner{
    background: #f4f4f4;
}
.title-designer{
    font-size: 22px;
}
.signature{
    max-width: 71px;
}
.yr-prf{
    .profile{
        width: 210px;
    }
    .detail *{
        color: $white;
        line-height: 22px;
        .last{
            margin-top: 30px;
        }
    }
}
.yr-prf-ul {
    margin-top: 65px;
    padding-bottom: 65px;
    .ttl{
        font-size: 16px;
        line-height: 24px;
    }
    li:last-child{
        margin-top: 30px;
    }
}
.social-prf{
    > a{
        border: 1px solid #525252;
        width: 38px;
        height: 38px;
        &:first-child{
            margin-right: 10px;
        }
    }
    .iconx{
        height: 36px;
        line-height: 38px;
    }
}
.hide-more{
    .last{
        display: none;
        .prf-read-more{
            display: none;
        }
    }
    &.opened{
        .first .prf-read-more{
            display: none;
        }
        .last{
            display: block;
            .prf-read-more{
                display: inline-block;
            }
        }
    }
}
.prf-read-more{
    margin-left: 5px;
    text-decoration: underline;
}