.grd-shw{
    margin-top: 50px;
    align-items: flex-start;
    .lft{
        width: 55%;
    }
    .rght{
        width: 45%;
        max-width: 540px;
        padding: 0 40px 0 40px;
    }
}
.shw-ttl{
    font-size: 32px;
}
.w-limit{
    max-width: 550px;
}