.icerikNavigasyon > span:first-child,
.urunNavigasyon > span:first-child{
    @include flex;
    border-top: 1px solid #f2f2f2;
    padding-top: 17px;
    padding-bottom: 17px;
    &:empty{display: none;}
}
.olNavigasyon{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .iconx{vertical-align: middle;}
    li{
        @extend .db-bck;
        a{
            display: block;
            padding:7px 7px 2px 7px;
            font-size: $fs-13;
        }
        &.navigasyonSeviye1{
            a{
                @extend .iconx;
                padding: 0;
                &:before{
                    content:'\e91b';
                }
            }
            span{display: none;}
        }
    }
}
.urunNavigasyon{
    margin-top: 30px;
    a{
        @extend .iBlock;
        vertical-align: middle;
        padding-top: 4px;
        padding-bottom: 2px;
    }
}
//Icerik nav son seviye kontrol
.icerikNavigasyon{
    .olNavigasyon{
        .iconx:nth-child(6){
            display: none;
        }
        .navigasyonSeviye4{
            display: none;
        }
    }
}