/*Login Page Desktop Setting*/
.ems-page-login{
    padding-top: 2%;
    padding-bottom: 8%;
    background: url(/upload/banners/login/login-cover.png) bottom right no-repeat #f8f8f6;
}
.login-tb{
    background: none;
    > div{
        width: inherit;
        text-align: left;
        > span{
            font-family: 'semi_bold';
            font-size: $fs-20;
            position: relative;
            @include transition;
            padding: 10px 0;
            @include block;
            border-bottom-width:1px; 
        }
        &:first-child{
            margin-right: 30px;
        }
    }
}
.ems-member-login{
    @include grid;
    grid-template-columns: 1fr minmax(0,730px) 1fr;
    grid-template-areas: ". AAA .";
}
.ems-tab-login{
    grid-area: AAA;
    .ems-form-desc,
    .ems-tab-content{
        margin-left: 0;
        margin-right: 0;
    }
    .ems-tab-content{
        margin-top: 35px;
    }
}
.ems-logoff{
    .db-menu-flx{
        grid-template-columns: minmax(auto, 0) minmax(0, auto);
    }
    .db-menu-flx .lm1{
        display: none;
    }
    .db-menu-flx .lm2{
        border-left: none;
        padding-left: 0;
    }
}
div[id$="plhUyelikMeslek"]{
    max-width: 350px;
}